<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>PiCam</title>
        <style type="text/css">
            .style1
            {
                width: 50%;
            }
        </style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script language="javascript" type="text/javascript">

            function Button_onclick(direction) {
                $.ajax({ url: '/' + direction });
            }

        </script>
    </head>
    <body>

        <table align="center" class="style1">
            <tr>
                <td colspan="2" style="text-align: center">
					<img src="http://picam:8080/?action=stream"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="btnUp" type="button" value="Up" onclick="Button_onclick('up')" />
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <input id="btnLeft" type="button" value="Left" onclick="Button_onclick('left')" />
                </td>
                <td style="text-align: center">
                    <input id="btnRight" type="button" value="Right" onclick="Button_onclick('right')" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="btnDown" type="button" value="Down" onclick="Button_onclick('down')" />
                </td>
            </tr>
        </table>
    </body>
</html>
